<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Peças</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="http://localhost:5001/">Aeronaves</a>
        <a href="http://localhost:5002/">Manutenção</a>
        <a href="http://localhost:5005/">Mecânicos</a>
        <a href="http://localhost:5003/">Peças</a>
        <a href="http://localhost:5006/">Certificação</a>
        <a href="http://localhost:5004/">Anat</a>
    </nav>
    <div class="container">
        <h1>Cadastro de Peças</h1>
        <form id="cadastroForm">
            <label for="id_manutencao">Manutenção:</label>
            <input type="number" id="id_manutencao" name="id_manutencao" required>

            <label for="peca">Nome da Peça: </label>
            <input type="text" id="peca" name="peca" required>

            <label for="quantidade">Qtd. Peças:</label>
            <input type="number" id="quantidade" name="quantidade" required>

            <button type="submit">Cadastrar</button>
        </form>

        <h2>Tabela de Peças</h2>
        <table id="tabelaPecas">
            <tr>
                <thead>
                    <th>ID Peça</th>
                    <th>ID Manutenção</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                </thead>
                <tbody>
                </tbody>
            </tr>
        </table>        
    </div>

    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>

