<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Manutenção</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Manutenção</h1>
        <form id="cadastroForm">
            <label for="id_aeronave">ID Aeronave: </label>
            <input type="number" id="id_aeronave" name="id_aeronave" required>

            <label for="id_certificacao">ID Certificado: </label>
            <input type="number" id="id_certificacao" name="id_certificacao" required>

            <label for="OS">OS: </label>
            <input type="text" id="OS" name="OS" required>

            <label for="responsavel">Nome do Responsável: </label>
            <input type="text" id="responsavel" name="responsavel" required>

            <label for="tipo_de_manutencao">Tipo de Manutenção:</label>
            <input type="text" id="tipo_de_manutencao" name="tipo_de_manutencao" required>

            <label for="data_manutencao">Data da Manutenção:</label>
            <input type="date" id="data_manutencao" name="data_manutencao" required>

            <button type="submit" onclick="RefreshTable()">Cadastrar</button>
        </form>

        <h2>Tabela de Consulta</h2>
        <table id="tableManutencao">
            <tr>
                <thead>
                    <th>ID Manutenção</th>
                    <th>ID Aeronave</th>
                    <th>ID Certificado</th>
                    <th>OS</th>
                    <th>Responsável</th>
                    <th>Tipo de Manutenção</th>
                    <th>Data da Manutenção</th>
                </thead>
                <tbody>
                </tbody>
            </tr>
        </table>        
    </div>

    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>

